storageDirectory: resources/storage/

server:
  port: 9096

logging:
  level:
    org.springframework:
      data: DEBUG
      security: DEBUG
    net.wenz.service.fs: DEBUG

spring:
  devtools:
    livereload:
      enabled: true #是否支持livereload
      port: 35730
    restart:
      enabled: true #热部署生效
  datasource:
    driverClassName: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/microsfs?useUnicode=true&characterEncoding=utf8
    username: root
    password: '001100'
    maxActive: 500

multipart:
  enabled: true
  max-file-size: 32MB
  max-request-size: 64MB

#mybatis:
#  mapper-locations: classpath:mapper/*.xml  #注意：一定要对应mapper映射xml文件的所在路径
#  type-aliases-package: net.wenz.service.fs.model.entity  # 注意：对应实体类的路径
#  type-handlers-package: net.wenz.service.fs.model.dao.typehandler
